.IndexCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  font-size: xx-large;
}

.assassin {
  background-color: black;
}

.agent {
  background-color: darkolivegreen;
}

.bystander {
  background-color: linen;
}
